{{ "<!-- Header -->" | safeHTML }}
    <section id="one" class="tiles">
        {{ range .Site.Params.Tiles.showcase }}
        <article>
            <span class="image" style="height:30%; width:auto;">
                <img src="{{ .Site.Params.baseURL }}img/{{ .image }}" alt="" />
            </span>
            <header class="minor">
                <h3><a href="{{ .url | absURL }}" class="link">{{ .title }}</a></h3>
                <p>{{ .subtitle }}</p>
            </header>
        </article>
        {{ end }}
    </section>
