<!--
If you want to include any custom html just before </head>, put it in this file.
Or you can delete these file if you don't need it.
-->

<!-- Load CSS stylesheet for KaTeX 0.10.0-rc.1
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css" integrity="sha384-D+9gmBxUQogRLqvARvNLmA9hS2x//eK1FhVb9PiU86gmcrBrJAQT8okdJ4LMp2uv" crossorigin="anonymous">
-->

<!--  Load CSS stylesheet for Bootstrap
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
-->

<!--  Load CSS stylesheet from Vignet.com
  <link rel="stylesheet" href="https://www.viget.com/stylesheets/application.min.css?1539719480">
-->


<!--
  <style>
/* changes background color of entire page */
  body{
    background-color: #f2f3f4;
  }

/* changes background color of anything with an ID of main, such as footer on home page */
  #main {
		background-color: #f2f3f4;
	}

/* changes background color of header on list pages */
  header.major > :first-child:after {
    background-color: #000000;
  }

/* changes background color of odd numbered spotlights */
  .spotlights > section {
    background-color: #929ccc;
  }
/* changes background color of even numbered spotlights */
  .spotlights > section:nth-child(2n) {
    background-color: #9b0694;
  }

/* changes background color of small floating header with site title */
  #header {
		background-color: #0c7a22;
  }

/* changes background color of logo text in small header with site title */
  #header .logo strong {
    background-color: #987eba;
  }

  #banner:after {
    background-color: #eeeeee;
  }

/* changes background color of banners with style2, such as on list pages */
  #banner.style2:after {
    background-color: #000000;
  }

/* font settings */
  body, input, select, textarea {
    color: #131516;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 15pt;
    font-weight: 350;
    letter-spacing: 0.025em;
    line-height: 1.414;
  }

/* bold settings */
  strong, b {
		color: #000000;
		font-weight: 600;
	}

  </style>
-->
