<!--  Syntax for using is   imgcap file="file url"  title="caption for image"  source="link to original source"

Would also like to add Creative Commons license information.

-->
<div style="position:relative; clear:both; padding:0;">
  <img src="{{ .Get "file" }}"  title="{{ .Get "title" }}"  alt="{{ .Get "title" }}" style="display:block; width:100%; height:auto;" >
  <span style="position:absolute; height:auto; bottom:0em; right:0em; margin:0;  padding: .1em .3em;  color:white;  font-size: .8em;  background:rgba(0, 0, 0, 1);  text-align:right;  z-index:5;  opacity:0.65;  border-radius:.3em 0em 0em 0em;">
    <a href = "{{ .Get "source" }}">{{ .Get "title" }}</a></span>
</div>
<br>
